<div class="set-card-deck-container">
  <div
    class="set-card-deck component"
    [style.bottom]="stackCountArray.length * stackPixelHeight + 'px'"
  >
    <div class="top">
      <app-set-card-back *ngIf="stackCountArray.length > 0"></app-set-card-back>
    </div>
    <div class="stack-container">
      <div
        *ngFor="
          let stack of stackCountArray;
          let index = index;
          let last = last
        "
        class="stack"
        [style.top]="(index + 1) * stackPixelHeight + 'px'"
        [style.left]="(index + 1) * stackPixelHeight * 0.8 + 'px'"
        [style.z-index]="index * -1"
        [class]="index % 2 ? 'even' : 'odd'"
        [class.tail]="last"
        [style.box-shadow]="last ? calculateShadow() : ''"
      ></div>
    </div>
  </div>
</div>

<!-- [style.right]="stackCountArray.length * stackPixelHeight * 0.8 + 'px'" -->

<!-- [style.margin-bottom]="stackCountArray.length * stackPixelHeight + 'px'"
    [style.margin-right]="
      stackCountArray.length * stackPixelHeight * 0.8 + 'px'
    " -->
