<div
  id="bar-top"
  class="components bars flex justify-between items-center px-3"
>
  <p class="font-pattaya m-0 mb-0 text-5xl" id="logo">S E T</p>
  <button
    mat-button
    aria-label="Example icon button with a vertical three dot icon"
    id="button-account"
  >
    <div class="flex flex-row">
      <div
        id="button-account-name"
        class="flex flex-row items-center justify-center mr-3"
      >
        <span class="text-4xl font-montserrat">Daniel Madden</span>
      </div>
      <div
        id="button-account-icon"
        class="flex flex-row items-center justify-center text-3xl"
      >
        <i class="fas fa-user"></i>
        <!-- <mat-icon [inline]="true">person</mat-icon> -->
      </div>
    </div>
  </button>
</div>
