<div
  id="{{ inGameLog ? 'game-log-' + gameLogId + '-' : '' }}set-card-{{
    cardSlot
  }}"
  class="
    set-card
    count-{{ card.count }}
    color-{{ card.color }}
    shape-{{ card.shape }}
    shade-{{ card.shade }}
    flex
    flex-row
    justify-center
    items-center
  "
  [class.highlighted]="highlighted"
  [class.in-game-log]="inGameLog"
  [class.in-grid]="inGrid"
>
  <div class="svg-container svg-container-1 w-1/3">
    <svg class="w-full" viewBox="-2 -2 54 104">
      <path
        class="{{ inGameLog ? 'game-log-' + gameLogId + '-' : '' }}set-card-{{
          cardSlot
        }}-svg-path"
        d=""
        fill="none"
      ></path>
    </svg>
  </div>
  <div class="svg-container svg-container-2 w-1/3">
    <svg class="w-full" viewBox="-2 -2 54 104">
      <path
        class="{{ inGameLog ? 'game-log-' + gameLogId + '-' : '' }}set-card-{{
          cardSlot
        }}-svg-path"
        d=""
        fill="none"
      ></path>
    </svg>
  </div>
  <div class="svg-container svg-container-3 w-1/3">
    <svg class="w-full" viewBox="-2 -2 54 104">
      <path
        class="{{ inGameLog ? 'game-log-' + gameLogId + '-' : '' }}set-card-{{
          cardSlot
        }}-svg-path"
        d=""
        fill="none"
      ></path>
    </svg>
  </div>
</div>
