@import "../../../shared/variables.scss";
@import "../../../shared/animations.scss";

@mixin horizontal-card-shadow {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}

@mixin vertical-card-shadow {
  box-shadow: 3px -3px 0px 0px rgba(0, 0, 0, 0.3);
}

.set-card {
  background-color: $card-color;

  &.in-grid {
    @include horizontal-card-shadow();
    $properties-set-card: (
      "width": $card-width,
      "height": $card-height,
      "border-radius": $card-corner-radius,
      "padding": $card-padding,
    );

    @include responsive-properties-above-medium($properties-set-card);
    @include responsive-properties-below-large-above-mobile(
      $properties-set-card
    );
    @include responsive-properties-between-small-and-card-rotation(
      $properties-set-card
    );
    @include responsive-properties-after-card-rotate($properties-set-card);

    @include screen-after-card-rotate() {
      @include vertical-card-shadow();
      transform: rotate(90deg);
    }

    &.highlighted {
      box-shadow: 0px 0px 10px 10px rgba(255, 251, 0, 0.5);
    }

    .svg-container {
      $properties-svg-container: (
        "padding": $card-svg-padding,
      );
      // @include responsive-properties($properties-svg-container);
      @include responsive-properties-above-medium($properties-svg-container);
      @include responsive-properties-below-large-above-mobile(
        $properties-svg-container
      );
      @include responsive-properties-between-small-and-card-rotation(
        $properties-svg-container
      );

      @include responsive-properties-after-card-rotate(
        $properties-svg-container
      );
    }
  }

  &.in-game-log {
    @include vertical-card-shadow();
    $properties-set-card-in-game-log: (
      "width": $card-game-log-width,
      "height": $card-game-log-height,
      "border-radius": $card-corner-radius,
      "padding": $card-padding * $card-game-log-ratio,
    );
    @include responsive-properties-above-medium(
      $properties-set-card-in-game-log
    );
    @include below-large-screens-above-mobile-screens() {
      @include multiply-properties(
        $properties-set-card-in-game-log,
        $game-log-ratio-below-large-above-mobile
      );
    }
    @include below-small-screens {
      @include multiply-properties(
        $properties-set-card-in-game-log,
        $game-log-ratio-below-small
      );
    }
    .svg-container {
      $properties-set-card-in-game-log-svg-container: (
        "padding": $card-svg-padding * $card-game-log-ratio,
      );
      @include responsive-properties-above-medium(
        $properties-set-card-in-game-log-svg-container
      );
      @include below-large-screens-above-mobile-screens() {
        @include multiply-properties(
          $properties-set-card-in-game-log-svg-container,
          $game-log-ratio-below-large-above-mobile
        );
      }
      @include below-small-screens {
        @include multiply-properties(
          $properties-set-card-in-game-log-svg-container,
          $game-log-ratio-below-small
        );
      }
    }
  }

  path {
    stroke-width: 2;
  }

  &.shade-hollow {
    path {
      fill: none;
    }
  }

  &.color-1 {
    path {
      stroke: var(--color-1);
    }
    &.shade-solid {
      path {
        fill: var(--color-1);
      }
    }
  }

  &.color-2 {
    path {
      stroke: var(--color-2);
    }
    &.shade-solid {
      path {
        fill: var(--color-2);
      }
    }
  }

  &.color-3 {
    path {
      stroke: var(--color-3);
    }
    &.shade-solid {
      path {
        fill: var(--color-3);
      }
    }
  }

  &.count-1 {
    .svg-container-2,
    .svg-container-3 {
      display: none;
    }
  }

  &.count-2 {
    .svg-container-3 {
      display: none;
    }
  }
}
