@import "../../../shared/variables.scss";
.set-card {
  width: $card-width;
  height: $card-height;
  background-color: white;
  border-radius: $card-corner-radius;
  padding: $card-padding;

  .svg-container {
    padding: $card-svg-padding;
  }

  path {
    stroke-width: 2;
  }
}

.color-1 {
  path {
    stroke: var(--color-1);
  }
  &.shade-solid {
    path {
      fill: var(--color-1);
    }
  }
}

.color-2 {
  path {
    stroke: var(--color-2);
  }
  &.shade-solid {
    path {
      fill: var(--color-2);
    }
  }
}

.color-3 {
  path {
    stroke: var(--color-3);
  }
  &.shade-solid {
    path {
      fill: var(--color-3);
    }
  }
}
