@import "../../../shared/variables.scss";

.game-log-message {
  width: 100%;
  height: fit-content;
  $properties-game-log-message: (
    padding: $card-padding,
    margin-bottom: 1.25rem,
  );
  @include responsive-properties($properties-game-log-message);
  background-color: black;
  border-radius: $card-corner-radius;
  .game-log-title {
    $properties-game-log-title: (
      font-size: 1.875rem,
    );
    @include responsive-properties($properties-game-log-title);
    color: white;
    &.color-green {
      color: $game-log-title-color-green;
    }
    &.color-red {
      color: $game-log-title-color-red;
    }
    &.color-blue {
      color: $game-log-title-color-blue;
    }
  }
  .messages {
    color: white;
    &.first {
      $properties-game-log-messages-first: (
        margin-top: 1.25rem,
      );
      @include responsive-properties($properties-game-log-messages-first);
    }
    h1 {
      $properties-game-log-messages-h1: (
        font-size: 1.125rem,
      );
      @include responsive-properties($properties-game-log-messages-h1);
    }
  }
}

.cards-container {
  $properties-cards-container: (
    width: $card-game-log-height * 3 + 8,
  );
  @include responsive-properties($properties-cards-container);
}

.card-container {
  $properties-card-container: (
    height: $card-game-log-width,
    width: $card-game-log-height,
  );
  @include responsive-properties($properties-card-container);
}

app-set-card {
  transform: rotate(90deg);
}
