@import "../../../shared/variables.scss";

.game-log-message {
  width: 100%;
  height: fit-content;
  padding: $card-padding;
  background-color: black;
  border-radius: $card-corner-radius;
  .game-log-title {
    color: white;
    &.color-green {
      color: $game-log-title-color-green;
    }
    &.color-red {
      color: $game-log-title-color-red;
    }
    &.color-blue {
      color: $game-log-title-color-blue;
    }
  }
}

.cards-container {
  width: (($card-game-log-height) * 3) + 8;
}

.card-container {
  height: $card-game-log-width;
  width: $card-game-log-height;
}

app-set-card {
  transform: rotate(90deg);
}
