@import "../../shared/variables.scss";

.set-game-screen {
  height: 100%;
  width: 100%;
}

$set-game-column-width: $card-width + $card-padding * 2;

#set-game-column-right {
  $properties-set-game-column-right: (
    height: $card-height * 2.5,
  );
  @include responsive-properties($properties-set-game-column-right);
}

#set-game-column-left {
  height: $card-height * 4;
  #set-game-column-left-stats {
    display: none;
  }
  #set-game-log-container {
    width: 100%;
    height: 100%;
  }
  @include below-large-screens {
    width: $set-game-column-width;
    z-index: 2;
    $split-top: 20%;
    $split-bottom: 100% - $split-top;
    height: 100%;
    position: fixed;
    top: 0;
    $negative-left: $set-game-column-width * -1;
    $properties-set-game-column-left: (
      left: $negative-left,
    );
    @include responsive-properties-below-large-above-mobile(
      $properties-set-game-column-left
    );
    &.over-screen {
      display: block;
      left: 0;
    }
    #set-game-column-left-stats {
      display: block;
      height: $split-top;
      width: 100%;
      background-color: black;
      color: white;
      $properties-set-game-column-left-stats: (
        padding: $card-padding,
      );
      @include below-large-screens-above-mobile-screens() {
        @include multiply-properties(
          $properties-set-game-column-left-stats,
          $game-log-ratio-below-large-above-mobile
        );
      }
      @include below-small-screens {
        @include multiply-properties(
          $properties-set-game-column-left-stats,
          $game-log-ratio-below-small
        );
      }
      .mode {
        font-size: 2rem;
      }
    }
    #set-game-log-container {
      height: $split-bottom;
    }
  }
  @include below-small-screens {
    width: $set-game-column-width * $game-log-ratio-below-small;
  }
}

.set-game-column {
  // width: $card-width + ($card-padding * 2);
  $properties-set-game-column: (
    width: $set-game-column-width,
  );
  @include responsive-properties-above-medium($properties-set-game-column);
  @include hide-below-large-screens();
}

.set-card-deck-container {
  // width: $card-width;
  // height: $card-height;
  $properties-set-card-deck-container: (
    width: $card-width,
    height: $card-height,
  );
}

.set-game-button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  // transform: rotate(20deg);
}
