@import "../../shared/variables.scss";

.set-game-screen {
  height: 100%;
  width: 100%;
}

#set-game-column-right {
  height: $card-height * 2.5;
}

#set-game-column-left {
  height: $card-height * 4;
}

.set-game-column {
  // width: $card-width + ($card-padding * 2);
  $properties-set-game-column: (
    width: $card-width + $card-padding * 2,
  );
  @include responsive-properties($properties-set-game-column);
}

.set-card-deck-container {
  // width: $card-width;
  // height: $card-height;
  $properties-set-card-deck-container: (
    width: $card-width,
    height: $card-height,
  );
}

.set-game-button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  // transform: rotate(20deg);
}
