<div class="page w-full h-full flex flex-row items-center justify-around">
  <app-bar-top></app-bar-top>
  <div class="set-game-screen flex flex-row justify-around items-center w-full">
    <app-set-card-grid
      (setOfCardsEvent)="addCardsToHand($event)"
      [listenToAddThreeCards$]="tellGridToAddThreeCards$"
    ></app-set-card-grid>
    <div
      id="set-game-column-right"
      class="set-game-column flex flex-col items-center justify-between"
    >
      <div class="set-card-deck-container flex flex-row justify-end items-end">
        <app-set-card-deck
          [pointToDeckService]="true"
          [cardStream$]="deck$"
          (addThreeCardsEvent)="tellGridToAddThreeCards()"
        ></app-set-card-deck>
      </div>
      <!-- <button class="set-game-button p-4">
        <h1 class="text-3xl">+3 Cards</h1>
      </button>
      <button class="set-game-button p-4">
        <h1 class="text-3xl">Hint</h1>
      </button> -->
      <app-set-card-deck [cardStream$]="hand$"></app-set-card-deck>
    </div>
  </div>
  <app-bar-bottom-desktop
    [gameMode]="gameMode"
    [time]="time"
    [sets]="sets"
    [cardsRemaining]="cardsRemaining"
  ></app-bar-bottom-desktop>
</div>
