<div class="page w-full h-full flex flex-row items-center justify-around">
  <app-bar-top></app-bar-top>
  <div class="set-game-screen flex flex-row justify-around items-center w-full">
    <div id="set-game-column-left" class="set-game-column">
      <app-game-log
        [gameLog$]="gameLogStream$"
        [startListeningForGameLogs$]="startGameLog$"
      ></app-game-log>
    </div>
    <app-set-card-grid
      (setOfCardsEvent)="addCardsToHand($event)"
      (plusThreeCardsEvent)="sendThePlusThreeCardsToGameLog($event)"
      (gameStartEvent)="startGame()"
      [listenToAddThreeCards$]="tellGridToAddThreeCards$"
    ></app-set-card-grid>
    <div
      id="set-game-column-right"
      class="set-game-column flex flex-col items-center justify-between"
    >
      <div class="set-card-deck-container flex flex-row justify-end items-end">
        <app-set-card-deck
          [pointToDeckService]="true"
          [cardStream$]="deck$"
          (addThreeCardsEvent)="tellGridToAddThreeCards()"
        ></app-set-card-deck>
      </div>
      <app-set-card-deck [cardStream$]="hand$"></app-set-card-deck>
    </div>
  </div>
  <app-bar-bottom-desktop
    [gameMode]="gameMode"
    [time]="timePassed"
    [sets]="sets"
    [cardsRemaining]="cardsRemaining"
  ></app-bar-bottom-desktop>
</div>
