<svg id="svg-pattern-striped" width="0" height="0">
  <!--  Define the patterns for the different fill colors  -->
  <pattern id="striped-1" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
  <pattern id="striped-2" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
  <pattern id="striped-3" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
</svg>

<div id="app">
  <router-outlet></router-outlet>
</div>
