#app {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/backgrounds/bg_table_wood.jpg");
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}
