<svg id="svg-pattern-striped" width="0" height="0">
  <!--  Define the patterns for the different fill colors  -->
  <pattern id="striped-1" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
  <pattern id="striped-2" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
  <pattern id="striped-3" patternUnits="userSpaceOnUse" width="4" height="4">
    <path d="M-1,1 H5" />
  </pattern>
</svg>

<audio
  id="sound-cards-down"
  class="sound-cards"
  src="../assets/sounds/cards/MB_Card_Down_14.mp3"
></audio>
<audio
  id="sound-cards-flick-1"
  class="sound-cards"
  src="../assets/sounds/cards/MB_Card_Flick_01.mp3"
></audio>
<audio
  id="sound-cards-flick-2"
  class="sound-cards"
  src="../assets/sounds/cards/MB_Card_Flick_07.mp3"
></audio>
<audio id="sound-cards-shuffle" class="sound-cards" controls>
  <source src="../assets/sounds/cards/shuffling-cards-5.mp3" type="audio/mp3" />
  <source src="../assets/sounds/cards/shuffling-cards-5.wav" type="audio/wav" />
</audio>
<audio
  id="sound-fx-ding"
  class="sound-fx"
  src="../assets/sounds/Ding.wav"
></audio>
<audio
  id="sound-fx-error"
  class="sound-fx"
  src="../assets/sounds/Error.mp3"
></audio>

<div id="app">
  <router-outlet></router-outlet>
</div>
