<div
  id="set-card-grid"
  class="component"
  [style]="{
    'max-height': maxHeight,
    'padding-top': verticalPadding,
    'padding-bottom': verticalPadding
  }"
>
  <div class="grid grid-cols-3 gap-4">
    <div
      class="card-container flex flex-row justify-center items-center"
      *ngFor="let slot of slots$ | async; let index = index"
    >
      <app-set-card
        *ngIf="slot.display"
        [card]="slot.card"
        [cardSlot]="index"
        [highlighted]="slot.selected"
        [inGrid]="true"
        (click)="slot.selected ? deSelectCard(index) : selectCard(index)"
      ></app-set-card>
    </div>
  </div>
</div>
