@import "../../../shared/variables.scss";
$grid-padding: 15px;

#set-card-grid {
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: $grid-padding;
  padding-left: $grid-padding;
  margin-right: -$grid-padding;
  margin-left: -$grid-padding;

  &::-webkit-scrollbar {
    width: 15px;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
}

.card-container {
  $properties-card-container: (
    width: $card-width,
    height: $card-height,
  );
  @include responsive-properties-above-medium($properties-card-container);
  @include responsive-properties-below-large-above-mobile(
    $properties-card-container
  );
  @include responsive-properties-between-small-and-card-rotation(
    $properties-card-container
  );
  $properties-card-container-after-rotate: (
    width: $card-height,
    height: $card-width,
  );
  @include responsive-properties-after-card-rotate(
    $properties-card-container-after-rotate
  );
}
