$grid-padding: 15px;

#set-card-grid {
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  padding-right: $grid-padding;
  padding-left: $grid-padding;
  margin-right: -$grid-padding;
  margin-left: -$grid-padding;

  &::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
}
