// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import "~@angular/material/theming";
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $SET-client-primary: mat-palette($mat-indigo);
// $SET-client-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $SET-client-warn: mat-palette($mat-red);

// // Create the theme object. A theme consists of configurations for individual
// // theming systems such as "color" or "typography".
// $SET-client-theme: mat-light-theme(
//   (
//     color: (
//       primary: $SET-client-primary,
//       accent: $SET-client-accent,
//       warn: $SET-client-warn,
//     ),
//   )
// );

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($SET-client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
}

/* Tailwind CSS styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Montserrat Font, All weights and italics; Pattaya Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pattaya&display=swap");

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-pattaya {
  font-family: "Pattaya", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
}

:root {
  --color-1: #e74c3c;
  --color-2: #27ae60;
  --color-3: #8e44ad;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
