<div
  id="bar-bottom-desktop"
  class="text-4xl font-montserrat flex flex-row justify-between items-center"
  [style.height]="barHeight"
>
  <div class="gameStat flex justify-center items-center text-center">
    <span>{{ gameMode }} Mode</span>
  </div>
  <div class="gameStat flex justify-center items-center">
    <span>{{ time }}</span>
  </div>
  <div class="gameStat flex justify-center items-center">
    <span>Sets: {{ sets }}</span>
  </div>
  <div class="gameStat flex justify-center items-center">
    <span>Cards: {{ cardsRemaining }}</span>
  </div>
</div>
