@import "../../../shared/variables.scss";
@import "../../../shared/animations.scss";
.set-card-back {
  position: relative;
  // width: $card-width;
  // height: $card-height;
  $properties-set-card-back: (
    width: $card-width,
    height: $card-height,
  );
  @include responsive-properties($properties-set-card-back);
  border-radius: $card-corner-radius;
  .outline {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $card-corner-radius;
    // padding: $card-padding * 2/3;
    $properties-outline: (
      padding: $card-padding * 2/3,
    );
    @include responsive-properties($properties-outline);
    background-image: url("../../../../assets/images/card/gold-gradient.jpg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    .texture {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: $card-corner-radius;
      background-image: url("../../../../assets/images/card/black-pattern-1.jpg");
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: cover;
      overflow: hidden;
      .slider-section {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        &.logo {
          top: 0;
          left: 0;
        }
        &.buttons {
          bottom: -100%;
          left: 0;
        }
        .text {
          // font-size: 4.5rem;
          $properties-text: (
            font-size: 4.5rem,
            margin-left: -15px * $card-multiplier,
            margin-bottom: -5px * $card-multiplier,
          );
          @include responsive-properties($properties-text);
          width: 100%;
          text-align: center;
          background-image: url("../../../../assets/images/card/gold-gradient.jpg");
          background-position-x: 50%;
          background-position-y: 50%;
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &.slide:hover {
        cursor: pointer;
        .slider-section {
          &.logo {
            top: -100%;
          }
          &.buttons {
            bottom: 0;
          }
        }
      }
    }
  }
}
